.container {
    background: #2b2d2c;
    color: white;

    padding: 0.4rem 0.7rem;
}

.song {
    margin-bottom: 0.2rem;
}

.song > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
