.stationLogo {
    position: absolute;
    width: 25%;
    height: 35%;
    right: 0;
    bottom: 0;
}

.container {
    position: relative;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    display: block;
    background: #3f4140;
}

.container > img {
    pointer-events: none;
}

.programmeThumbnail {

}
