.overlay {
    position: absolute;
    inset: 0;
    background: black;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.overlay.paused {
    opacity: 0.4;
}

.overlay > img {
    height: 80%;
    width: 80%;
}

/*.overlay:before, .overlay:after {*/
/*    content: '';*/
/*    width: 10%;*/
/*    height: 40%;*/
/*    background-color: white;*/
/*}*/

/*.overlay:before {*/
/*    left: 40%;*/
/*}*/

/*.overlay:after {*/
/*    right: 40%;*/
/*}*/
/**/
