.container {
    position: relative;
}

.button {
    position: absolute;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    right: 2%;
    transform: translateY(-50%);

    background: #3f4140;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
