.titleContainer {
    background: #1b1c1b;
    padding: 0.5rem 0.8rem;
}

.primary, .secondary {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: white;
}

.primary {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-right: 4ch;
}

.secondary {
    font-size: 1rem;
}
